
.body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink;
    padding: 30px;
}

.container {
    position: relative;
    max-width: 850px;
    width: 50%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
}

    .container form {
        height: 100%;
        width: 100%;
        background: #fff;
    }

    .container .form-contents {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .container .form-contents .login-form,
        .container .form-contents .signup-form {
            width: 80%;
        }

form .form-contents .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

    form .form-contents .title::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 25px;
        background: pink;
    }

form .signup-form .title::before {
    width: 20px;
}

form .form-contents .input-boxes {
    margin-top: 30px;
}

form .form-contents .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-contents .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0,0.2);
    transition: all 0.3s ease;
}

    .form-contents .input-box input:focus,
    .form-contents .input-box input:valid {
        border-color: pink;
    }

.form-contents .input-box i {
    position: absolute;
    color: pink;
    font-size: 17px;
}

form .form-contents .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.button input {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    transition: all 0.4s ease;
}

    .button input:hover {
        background-color: pink;
    }

form .form-contents label {
    color: pink;
}

    form .form-contents label:hover {
        text-decoration: underline;
    }
